@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* Header Start */
/* Navbar Fixed */
.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-80;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

/* Hamburger */
.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
/* Header End */

/* Slider Start */
.single-dot {
  @apply bg-white h-4 w-4 border-2 border-solid border-black rounded-[50%] my-0 mx-2 cursor-pointer transition duration-[400ms];
}

.single-dot.active {
  @apply bg-gerainaeema;
}
/* Slider End */

/* Testimony Start */
@keyframes slidetestimony {
  0% {@apply right-0;}
  30% {@apply right-0;}
  33% {@apply right-full;}
  63% {@apply right-full;}
  66% {@apply right-[200%];}
  97% {@apply right-[200%];}
  100% {@apply right-0;}
}

.testimony-slide {
  animation: slidetestimony linear 10s infinite;
}